*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
}

body{
    background-color: blanchedalmond;
    }

.menu{

    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem
    ;
}